.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.topbar {

}

.nav {
}

.content {
}

body { /*  this will style the background and the font */
    background-color: #5b5d62;
    color: #5a9987;
    font-family: Arial, Helvetica, sans-serif;
}

#gibjohnlogo { /*  this will set the size of my logo to be suitable */
    width: 20%;
}

h2 { /*  this will style any heading h2 type */
}

.cont { /*  this will style the class of items called "content" which is paragraphs*/
}

.linkbox{ /*  this will style the class of items called "linkbox" which is part of my menu bar*/
    background-color: #cc9dca;
}

.linkbox:hover{ /*  this will style linkbox when a cursor is over it*/
    background-color: #a65c20;
}

.autolog {
    width: 40px
}

td {
    padding: 5px;
}

#autobots{
    tr:hover {
        background-color: #8f301b;
    }
}

#decepticons{
    tr:hover {
        background-color: #0c0575;
    }
}

footer {
    background-color: #8393A3;
    text-align: center;

}